*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;   
    
}
main{
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav{
    background-color: black;
}
div col-1 {
    align-items: center;
}
.subtitle{
    color: white;
    background-color: beige;
}
footer a img{
    padding-left: 10px;
    
}
/* .container-subittle {
    font-family: 'Lilita One', cursive;
} */
main{
    display: flex;
    justify-content: center;
    min-height: 80vh;
}.f-container{
    background: rgb(13,202,240);
background: linear-gradient(234deg, rgba(13,202,240,1) 0%, rgba(253,187,45,1) 100%);
}
.card{
    border-radius: 3px;
}
.card img{
    width: 250px;
    height: 150px;
    object-fit: contain;
}
@media screen and (max-width: 350px) {
     .card img{
        max-width:150px ;
     }
    
}
#main-detail{
    display: flex;
    align-content: center;
    justify-content: center;
}
#cards-details{
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
}

#img-noencontrado1{
    width: 50%;
}
#img-noencontrado2{
    width: 100%;
}
#img-noencontrado3{
    width: 100%;
}
#new-cards {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#past-cards {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#upcoming-cards {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card{
   border-radius: 24px;
    margin-bottom: 5px;
    margin: 2px;
    height: 405px;
    border: solid #ffd90074 8px;    
    padding-bottom: 10px;
    padding-top: 15px;
}

/*prueba de @media queries*/
@media screen and (min-width: 768px) {
    .navbar-toggler {
        display: none;
    
    }
}
@media screen and (max-width: 768px) {
    #navul {
        display: none;
    
    }
}
.offcanvas-body {
    background: black;
}
#container-category {
    font-family: 'Edu NSW ACT Foundation', cursive;
}